        /*------------------------------------Classes------------------------------------*/
    
    .hov:hover {
        color: #000000;
    }
    
    .shadow {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 8px 8px rgba(72, 64, 6, 0.23), 0 5px 5px rgba(100, 75, 10, 0.35);
    }
    
    .center-text {
        text-align: center;
    }
    
    .med-text {
        font-size: 20px
    }
    
    .smol-text {
        font-size: 14px;
    }
    
    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        background-color: transparent;
    }
    
    .border {
        border-color: #fbf695;
        border-width: 5px;
        border-radius: 10%;
        border-style: solid;
    }
    
    .button {
        background: linear-gradient(110deg, #5a4b1ae5, #fffa62);
        border-width: 2px;
        border-color: #faa128;
        border-style: solid;
        border-radius: 10%;
        color: black;
        padding: 0px 27px;
        text-align: center;
        text-decoration: line;
        display: inline-block;
        font-size: 18px;
    }
    
    .field-marge {
        margin-left: 32%;
        margin-right: 32%;
    }
    
    .field-color {
        background: linear-gradient(45deg, #f5ef9a, #ccaa39);
        border-width: 3px;
        border-color: #f2cf57;
        border-style: dotted;
        border-radius: 4%;
    }
    
    .hovinput:hover {
        color: #cbb412;
    }
    
    .r15 {
        right: 15px;
    }
    
    .r10 {
        right: 10px;
    }
    
    .r5 {
        right: 15px;
    }
    /*------------------------------------Elements------------------------------------*/
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-height: 100%;
        max-width: 100%;
        height: 400px;
        width: 400px;
    }
    
    body {
        background-color: #fffcb5;
        font-family: Roboto, cursive;
    }
    
    h1 {
        color: black;
        font-size: 40px;
        text-align: center;
        font-weight: 1200;
    }
    
    i {
        transform: scale(1.5);
    }
    /*-------------------------------------Inputs---------------------------------------*/
    
    input[type=text] {
        width: 30%;
        padding: 4px 14px;
        margin: 3px 1px;
        box-sizing: border-box;
        border-style: solid;
        border-color: #f2cf57;
        border-width: 2.5px;
        box-shadow: 5px 5px 4px #4f4f4f;
        font-size: 14px;
        ;
    }
    
    input[type=email] {
        width: 60%;
        padding: 4px 14px;
        margin: 2px;
        box-sizing: border-box;
        border-style: solid;
        border-color: #f2cf57;
        border-width: 2.5px;
        box-shadow: 5px 5px 4px #4f4f4f;
        font-size: 14px;
    }
