                                    body {
                                        background-color: #fffcb5;
                                        font-family: Roboto, cursive;
                                    }
                                    
                                    h1 {
                                        color: black;
                                        font-size: 40px;
                                        text-align: center;
                                        font-weight: 1200;
                                    }
                                    
                                    .center-text {
                                        text-align: center;
                                    }
                                    
                                    .med-text {
                                        font-size: 20px
                                    }
                                    
                                    .smol-text {
                                        font-size: 14px;
                                    }
                                    
                                    .center-img {
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;
                                        width: 50%;
                                        background-color: transparent;
                                    }
                                    
                                    .border {
                                        border-color: #fbf695;
                                        border-width: 5px;
                                        border-radius: 10%;
                                        border-style: solid;
                                    }
                                    
                                    .button {
                                        background: linear-gradient(110deg, #5a4b1ae5, #fffa62);
                                        border-width: 2px;
                                        border-color: #faa128;
                                        border-style: solid;
                                        border-radius: 10%;
                                        color: black;
                                        padding: 0px 27px;
                                        text-align: center;
                                        text-decoration: line;
                                        display: inline-block;
                                        font-size: 18px;
                                    }
                                    
                                    .field-marge {
                                        margin-left: 32%;
                                        margin-right: 32%;
                                    }
                                    
                                    .field-color {
                                        background: linear-gradient(45deg, #f5ef9a, #ccaa39);
                                        border-width: 3px;
                                        border-color: #f2cf57;
                                        border-style: dotted;
                                        border-radius: 4%;
                                    }
                                    
                                    img {
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;
                                        width: 50%;
                                        max-height: 100%;
                                        max-width: 100%;
                                        height: 400px;
                                        width: 400px;
                                    }
                                    
                                    ul {
                                        list-style-type: none;
                                        margin: 0;
                                        padding: 0;
                                        overflow: hidden;
                                        background-color: #000000;
                                    }
                                    
                                    li {
                                        float: left;
                                    }
                                    
                                    li a,
                                    .dropbtn {
                                        display: inline-block;
                                        color: #f3e47a;
                                        text-align: center;
                                        padding: 14px 16px;
                                        text-decoration: none;
                                    }
                                    
                                    a :hover,
                                    .dropdown:hover .dropbtn {
                                        background-color: #0000009d;
                                        text-decoration: underline;
                                        transform: scale(1.25) skewx(5deg) skewy(-5deg);
                                    }
                                    
                                    li:hover,
                                    button:hover {
                                        color: black;
                                        animation-name: gradient;
                                        animation-duration: 1600ms;
                                        animation-fill-mode: forwards;
                                        animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
                                    }
                                    
                                    @keyframes gradient {
                                        0% {
                                            background: linear-gradient(-95deg, #5a4b1ae5, #fffa62);
                                        }
                                        2.5% {
                                            background: linear-gradient(-90deg, #5a4b1ae5, #fffa62);
                                        }
                                        5% {
                                            background: linear-gradient(-85deg, #5a4b1ae5, #fffa62);
                                        }
                                        7.5% {
                                            background: linear-gradient(-80deg, #5a4b1ae5, #fffa62);
                                        }
                                        10% {
                                            background: linear-gradient(-70deg, #5a4b1ae5, #fffa62);
                                        }
                                        12.5% {
                                            background: linear-gradient(-65deg, #5a4b1ae5, #fffa62);
                                        }
                                        15% {
                                            background: linear-gradient(-60deg, #5a4b1ae5, #fffa62);
                                        }
                                        17.5% {
                                            background: linear-gradient(-55deg, #5a4b1ae5, #fffa62);
                                        }
                                        20% {
                                            background: linear-gradient(-50deg, #5a4b1ae5, #fffa62);
                                        }
                                        22.5% {
                                            background: linear-gradient(-45deg, #5a4b1ae5, #fffa62);
                                        }
                                        25% {
                                            background: linear-gradient(-40deg, #5a4b1ae5, #fffa62);
                                        }
                                        27.5% {
                                            background: linear-gradient(-35deg, #5a4b1ae5, #fffa62);
                                        }
                                        30% {
                                            background: linear-gradient(-30deg, #5a4b1ae5, #fffa62);
                                        }
                                        32.5% {
                                            background: linear-gradient(-25deg, #5a4b1ae5, #fffa62);
                                        }
                                        35% {
                                            background: linear-gradient(-20deg, #5a4b1ae5, #fffa62);
                                        }
                                        37.5% {
                                            background: linear-gradient(-15deg, #5a4b1ae5, #fffa62);
                                        }
                                        40% {
                                            background: linear-gradient(-10deg, #5a4b1ae5, #fffa62);
                                        }
                                        42.5% {
                                            background: linear-gradient(-5deg, #5a4b1ae5, #fffa62);
                                        }
                                        45% {
                                            background: linear-gradient(0deg, #5a4b1ae5, #fffa62);
                                        }
                                        47.5% {
                                            background: linear-gradient(5deg, #5a4b1ae5, #fffa62);
                                        }
                                        50% {
                                            background: linear-gradient(10deg, #5a4b1ae5, #fffa62);
                                        }
                                        52.5% {
                                            background: linear-gradient(15deg, #5a4b1ae5, #fffa62);
                                        }
                                        55% {
                                            background: linear-gradient(20deg, #5a4b1ae5, #fffa62);
                                        }
                                        57.5% {
                                            background: linear-gradient(25deg, #5a4b1ae5, #fffa62);
                                        }
                                        60% {
                                            background: linear-gradient(30deg, #5a4b1ae5, #fffa62);
                                        }
                                        62.5% {
                                            background: linear-gradient(35deg, #5a4b1ae5, #fffa62);
                                        }
                                        65% {
                                            background: linear-gradient(40deg, #5a4b1ae5, #fffa62);
                                        }
                                        67.5% {
                                            background: linear-gradient(45deg, #5a4b1ae5, #fffa62);
                                        }
                                        70% {
                                            background: linear-gradient(50deg, #5a4b1ae5, #fffa62);
                                        }
                                        72.5% {
                                            background: linear-gradient(55deg, #5a4b1ae5, #fffa62);
                                        }
                                        75% {
                                            background: linear-gradient(60deg, #5a4b1ae5, #fffa62);
                                        }
                                        77.5% {
                                            background: linear-gradient(65deg, #5a4b1ae5, #fffa62);
                                        }
                                        80% {
                                            background: linear-gradient(70deg, #5a4b1ae5, #fffa62);
                                        }
                                        82.5% {
                                            background: linear-gradient(75deg, #5a4b1ae5, #fffa62);
                                        }
                                        85% {
                                            background: linear-gradient(80deg, #5a4b1ae5, #fffa62);
                                        }
                                        87.5% {
                                            background: linear-gradient(85deg, #5a4b1ae5, #fffa62);
                                        }
                                        90% {
                                            background: linear-gradient(90deg, #5a4b1ae5, #fffa62);
                                        }
                                        92.5% {
                                            background: linear-gradient(95deg, #5a4b1ae5, #fffa62);
                                        }
                                        95% {
                                            background: linear-gradient(100deg, #5a4b1ae5, #fffa62);
                                        }
                                        97.5% {
                                            background: linear-gradient(105deg, #5a4b1ae5, #fffa62);
                                        }
                                        100% {
                                            background: linear-gradient(110deg, #e2c460, #585617e8);
                                        }
                                    }
                                    
                                    ul {
                                        position: -webkit-sticky;
                                        position: sticky;
                                        top: 0;
                                    }
                                    
                                    .hov:hover {
                                        color: #cbb412;
                                    }
                                    
                                    .shadow {
                                        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 8px 8px rgba(72, 64, 6, 0.23), 0 5px 5px rgba(100, 75, 10, 0.35);
                                    }
                                    
                                    .hovinput:hover {
                                        color: #cbb412;
                                    }
                                    
                                    .contact {
                                        position: absolute;
                                        left: 50%;
                                        padding-top: 2px;
                                        padding-bottom: 2px;
                                    }
                                    
                                    .contact2 {
                                        position: absolute;
                                        left: 43.5%;
                                        padding-top: 2px;
                                        padding-bottom: 2px;
                                    }
                                    
                                    .contact3 {
                                        position: absolute;
                                        top: 200px;
                                        left: 50%;
                                    }
                                    
                                    .justice {
                                        position: justify;
                                    }
                                    
                                    i {
                                        transform: scale(1.5);
                                    }
                                    
                                    .testdiv {
                                        background-color: black;
                                        float: right;
                                        height: 50px;
                                        width: 50px;
                                        border-radius: 50%;
                                        margin-bottom: 20px;
                                        color: white;
                                        text-align: center;
                                    }
